-- Fix battle status constraint to include 'pending' status
-- Run this in your Supabase SQL Editor

ALTER TABLE public.battle_instances 
DROP CONSTRAINT IF EXISTS battle_instances_status_check;

ALTER TABLE public.battle_instances 
ADD CONSTRAINT battle_instances_status_check 
CHECK (status IN ('pending', 'awaiting_opponent', 'active', 'cards_revealed', 'in_progress', 'completed', 'cancelled', 'declined'));

-- Verify the fix worked
SELECT constraint_name, check_clause 
FROM information_schema.check_constraints 
WHERE constraint_name = 'battle_instances_status_check';

-- Test that 'pending' status is now allowed
SELECT 'Database fix successful - pending status is now allowed' as result;
